.primary-nav{
   
   @mixin clearfix;
   
   &--pull-right{
      float: right;
   }
   
   ul{
      margin: 0;
      padding: 0;
      @mixing clearfix;
   }
   
   li{
      float: left;
      list-style: none;
      padding-right: 20px;
   }
   
   a{
      color: #FFF;
      text-decoration: none;
      font-weight: 300;
      display:block;
      padding: 12px 0px;
   }
   

   
}